<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Motirõ Inicio</title>
	<link rel="stylesheet" href="css/navbarlogadaCerta.css">
	<link rel="stylesheet" href="css/rodape.css">
	<link rel="stylesheet" href="css/itens222.css">
	<link rel="stylesheet" href="css/pesquisarLista222.css">
	<link rel="stylesheet" href="css/montarListaFe.css">
	<link rel="stylesheet" href="css/paginaInicial.css">
	<link rel="stylesheet" href="css/listaMercado.css">
	
	<link rel="icon" href="/img/LogoVerdeeee.png" type="image/png">

	<link
		href="https://www.dafontfree.net/embed/Z290aGFtLXJvdW5kZWQtYm9vayZkYXRhLzQ2L2cvNjI4NTkvR290aGFtUm91bmRlZC1Cb29rLm90Zg"
		rel="stylesheet" type="text/css" />


</head>
<nav>
	<div class="logo333">
		<img src="/img/LogoVerdeQualidade.png" alt="Logo Image">
	</div>
	<div class="hamburger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
	<ul class="nav-links">
		<li><a href="#">Inicio</a></li>
		<li><a th:href="@{/escolher}">Montar Lista</a></li>
		<li><a href="#">Quem Somos?</a></li>

		<li class="sumiuuu"><a href="#">Meus Pedidos</a></li>
		<li class="sumiuuu"><a href="#">Minhas Listas</a></li>
		<li class="sumiuuu"><a href="#">Minhas informações</a></li>
		<li class="sumiuuu"><a href="#">Sair da conta</a></li>


		<!-- <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li> -->
		<!-- <li><button class="login-button" href="#">Entrar</button></li> -->
		<div class="navbarlogada">
			<li><button class="join-button" href="#">Bem vindo</button></li>
			<img onclick="ligarEDesligarDiv();" id="figaraaa" src="/img/menuAbrir.png" alt="">
		</div>
	</ul>
</nav>


<div class="caixaMenu222">
	<div class="caixaMenu">
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/Pedidos}">
				<img src="/img/111vetorcart.png" alt="">
				<h2>Meus Pedidos</h2>
				</ath:href="@{/escolher}">
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu">
				<img src="/img/111vetorlista.png" alt="">
				<h2>Minhas listas</h2>
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu"> <!-- TIRAR ID="ATIVADA COR OU FAZER O BRAÇO CURTO" -->
				<img src="/img/111vetorpessoa.png" alt="">
				<h2>Minhas informações</h2>
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu">
				<img src="/img/111sairvetor.png" alt="">
				<h2>Sair desta conta</h2>
			</div>
		</div>
	</div>

</div>