
*{
    margin: 0;
    padding: 0;
   
    
}


:root {
    --amareloxoxo: #EDBB6C;
    --verdexoxo: #004F40;
    --laranjaaa: #FF8215;
    --amarelolindo: #FFE880;
}


nav{
    height: 4rem;
    width: 100vw;
    background-color: var(--amareloxoxo);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 1400;
}



.logo333{
    padding:3vh 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo333 img {
    height: 3rem;
    
}


.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    
    font-family: Gotham Rounded;
    font-size: 0.90106rem;
    font-style: normal;
    font-weight: 350;
}

.nav-links li.active a {
    color: var(--verdexoxo);
    border-bottom: 3px solid var(--verdexoxo);
}


.nav-links li:nth-last-child(1) {
    /* Ajuste esse valor conforme necessário */
    margin-right: 1%;
    margin-left: 0%;
    
}
.nav-links li:nth-last-child(2) {
   
    margin-right: 1%;
    margin-left: 1%;
}

.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #000;
}

.nav-links li a:nth-child(3) {
    color: var(--verdexoxo);
}

.nav-links li a:hover {
    color: var(--verdexoxo);
}
.nav-links li {
    position: relative;
}
/* .nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--verdexoxo);
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before{
    width: 80%;
} */



.join-button{
    color: #131418;
   
    border: none;
    border-radius: 2em;
     background-color: transparent;
     width: 150px;
    font-size: 1rem;
    
    color: #000000;
    
    font-family: Gotham Rounded;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 350;
    

}
.navbarlogada img {
 height: 13px;
 margin-left: auto;
 cursor: pointer;
}

.navbarlogada{
    
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.hamburger div{
    width: 30px;
    height:3px;
    background: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}







.caixaMenu {

    width: 18.125rem;
height: auto;
background-color: rgb(253, 253, 253);
border-radius: 2.25rem;

display: flex;

flex-direction: column;
display: none;
position: fixed;
z-index: 1000;
margin-left: 75%;
margin-top: 4.5rem;
box-shadow: 0px 0px 3px 0px #000;
transition: display 0.8s ease;


}
  

.selectMenu {
   
    height: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
 
}

.selectMenu:last-child{
    margin-bottom: 20px;
}
.selectMenu:first-child{
    margin-top: 20px;
}
  
.itensMenu {
    /* background-color: aqua; */
  
    color: #000;
margin-left: 15px;
font-family: Gotham Rounded;
font-size: 0.8rem;
font-style: normal;
font-weight: 350;
line-height: normal;
padding: 10px;
border-radius: 20px;
display: flex;
align-items: center;
cursor: pointer;
transition: all ease-in-out 350ms;
}

.itensMenu img {
    height: 25px;
    margin-right: 10px;
}

.itensMenu:hover {
    background-color: var(--amarelolindo);
}

#ativadaCor {
    background-color: var(--amarelolindo);
    color: #000;
    margin-left: 15px;
    font-family: Gotham Rounded;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 350ms;

}
.botaonavbar img {
    height: 50px;
    margin-right: 10vw;
    cursor: pointer;
}

.caixaMenu222 {
    width: auto;
    height: auto;
}

.sumiuuu {
    display: none;
}

#ativad000 {

    background-color: var(--amarelolindo);
    padding: 10px;
border-radius: 20px;

  }

  .nav-links li.ativadoNav a {
    color: var(--verdexoxo);
    border-bottom: 3px solid var(--verdexoxo);
    display: none;
}

  @media screen and (max-width: 1300px){ 

    .caixaMenu {

    margin-left: 70%;
  
    
    
    }

    


  }

  @media screen and (max-width: 1060px){ 

    .caixaMenu {

    margin-left: 65%;
  
    
    
    }


  }
  @media screen and (max-width: 920px){ 

    .caixaMenu {

    margin-left: 60%;
  
    
    
    }


  }


@media screen and (max-width: 800px){

    .nav-links li.ativadoNav a {
        color: var(--amareloxoxo);
        border-bottom: 3px solid var(--amareloxoxo);
        display: block;
    }

    .sumiuuu {
        display: block;
    }
    

    .caixaMenu222 {

    
    display: none;
    
   
    }

    .nav-links li.active a {
        color: #FFE880;
        border-bottom: 3px solid #FFE880;
    }
      


nav{
    position: fixed;
    z-index: 3000;
 
    
} 

.navbarlogada img {
    height: 13px;
    margin-left: auto;
    cursor: pointer;
    display: none;
   }
   
   .navbarlogada{
       display: none;
       width: 170px;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   

.itensMenu img {
    height: 25px;
    margin-right: 10px;
    display: none;
   
}

.hamburger{
    display:block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
    color: #000000;
}

.join-button{
    color: #131418;
    background-color: var(--verdexoxo);
    border: 1.5px solid #ffffff;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;
    margin-left: 1vw;
    display: none;
}

    .login-button{
        background-color: #FF8215;
        border: 1.5px solid #000000;
        border-radius: 2em;
        padding: 0.6rem 0.8rem;
        margin-right: 2.5vw;
        font-size: 1rem;
        cursor: pointer;
        color: #ffffff;
    
    }

   


.nav-links{
    position: fixed;
    background: var(--verdexoxo);
    height: 60vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    color: #ffffff;
   
}

.nav-links li a {
    color: #ffffff;
}

.nav-links li a:hover {
    color: #FFE880;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #FFE880;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}
.nav-links li{
    opacity: 0;
}
.nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
}
.nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
}
.nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
}
.nav-links li:nth-child(4){
    transition: all 0.5s ease 0.7s;
}
.nav-links li:nth-child(5){
    transition: all 0.5s ease 0.8s;
}
.nav-links li:nth-child(6){
    transition: all 0.5s ease 0.9s;
    margin: 0;
}
.nav-links li:nth-child(7){
    transition: all 0.5s ease 1s;
    margin: 0;
}
li.fade{
    opacity: 1;
}


.login-button{
    background-color: transparent;
    border: 1.5px solid #fff;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #000000;
    background-color:#FFE880;
    border:1.5px solid #000000;
    transition: all ease-in-out 350ms;
}

.join-button:hover {
    color: #000000;
    background-color:#FFE880;
    border:1.5px solid #000000;
    transition: all ease-in-out 350ms;
}
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
transition: all 0.7s ease;
width:0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px,-6px);
}
