<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Pagina">
	<meta name="keywords" content="Pedidos, Lista, Mercado">
	<meta name="author" content="Motirõ">

	<title>Motirõ-Escolher</title>

	<link rel="stylesheet" href="/css/escolherMercado.css">

	<link rel="stylesheet" href="/css/navbarlogadaCerta.css">

	<link rel="stylesheet" href="/css/rodape.css">

	<link rel="icon" href="/img/LogoVerdeeee.png" type="image/png">

</head>

<body>

	<nav>
		<div class="logo333">
			<img src="/img/LogoVerdeQualidade.png" alt="Logo Image">
		</div>
		<div class="hamburger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
		<ul class="nav-links">
			<li><a th:href="@{/}">Inicio</a></li>
			<li class="active"><a th:href="@{/escolher}">Montar Lista</a></li>
			<li><a href="#">Quem Somos?</a></li>

			<li class="sumiuuu"><a th:href="@{/pedidos}">Meus Pedidos</a></li>
			<li class="sumiuuu"><a th:href="@{/listas}">Minhas Listas</a></li>
			<li class="sumiuuu"><a href="#">Minhas informações</a></li>
			<li class="sumiuuu"><a href="#">Sair da conta</a></li>


			<div class="navbarlogada">
				<li><button class="join-button" href="#">Bem vindo</button></li>
				<img onclick="ligarEDesligarDiv();" id="figaraaa" src="/img/menuAbrir.png" alt="">
			</div>
		</ul>
	</nav>


	<div class="caixaMenu222">
		<div class="caixaMenu">
			<div class="selectMenu">
				<div class="itensMenu">
					<a th:href="@{/pedidos}">
					<img src="/img/111vetorcart.png" alt="">
					<h2>Meus Pedidos</h2>
					</a>
				</div>
			</div>
			<div class="selectMenu">
				<div class="itensMenu">
					<a th:href="@{/pedidos}">
					<img src="/img/111vetorlista.png" alt="">
					<h2>Minhas listas</h2>
					</a>
				</div>
			</div>
			<div class="selectMenu">
				<div class="itensMenu">
					<img src="/img/111vetorpessoa.png" alt="">
					<h2>Minhas informações</h2>
				</div>
			</div>
			<div class="selectMenu">
				<div class="itensMenu">
					<img src="/img/111sairvetor.png" alt="">
					<h2>Sair desta conta</h2>
				</div>
			</div>
		</div>

	</div>

	<main>
		<section>

			<div class="corpo">
				<h2 class="corpoTitulo">Escolha o mercado de sua preferência e comece a montar sua lista!</h2>
				<div class="mercados">
					<a th:href="@{/montarAssai}">
						<div class="assai"></div>
					</a>

					<a>
						<div class="atacadao"></div>
					</a>
				</div>
			</div>

		</section>

	</main>

	<footer class="footer1">
		<div class="looogoo1">
			<div class="logorodape1">
				<img src="/img/LogoVerdeQualidade.png" alt="">
			</div>
		</div>
		<div class="container111 row1">
			<div class="footer-col1 noss1">
				<h4>Mapa do Site</h4>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Montar Lista</a></li>
					<li><a href="#">Perfil</a></li>
					<li><a href="#">Quem somos?</a></li>
				</ul>
			</div>

			<div class="footer-col1">
				<h4>Nossos Contatos</h4>
				<ul>

					<li><a href="#">suportemotiro@gmail.com</a></li>
					<li><a href="#">(11) 91457-6257</a></li>
					<!-- <li><a href="#">github</a></li>
					<li><a href="#">all version</a></li> -->
				</ul>
			</div>
			<div class="footer-col1 noss1">
				<h4>Siga-nos</h4>
				<div class="social-links1">
					<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
					<a href="#"><i class="fa-brands fa-instagram"></i></a>
					<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
		<div class="fimrodape1">
			<h3>2023. Motirõ. Todos direitos reservados.</h3>
		</div>
	</footer>

	<script src="https://kit.fontawesome.com/42dd8431f9.js" crossorigin="anonymous"></script>
	<script src="/js/navbarlogadaCerta.js"></script>

</body>

</html>