<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Motirõ Inicio</title>
	<link rel="stylesheet" href="css/navbarlogadaCerta.css">
	<link rel="stylesheet" href="css/rodape.css">
	<link rel="stylesheet" href="css/paginaInicial.css">
	<link rel="stylesheet" href="css/listaMercado.css">


	<link rel="icon" href="/img/LogoVerdeeee.png" type="image/png">

	<link
		href="https://www.dafontfree.net/embed/Z290aGFtLXJvdW5kZWQtYm9vayZkYXRhLzQ2L2cvNjI4NTkvR290aGFtUm91bmRlZC1Cb29rLm90Zg"
		rel="stylesheet" type="text/css" />


</head>
<nav>
	<div class="logo333">
		<img src="/img/LogoVerdeQualidade.png" alt="Logo Image">
	</div>
	<div class="hamburger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
	<ul class="nav-links">
		<li><a th:href="@{/}">Inicio</a></li>
		<li><a th:href="@{/escolher}">Montar Lista</a></li>
		<li><a th:href="@{/sobre}">Quem Somos?</a></li>

		<li class="sumiuuu"><a th:href="@{/pedidos}">Meus Pedidos</a></li>
		<li class="sumiuuu"><a th:href="@{/listas}">Minhas Listas</a></li>
		<li class="sumiuuu"><a hth:href="@{/eu}">Minhas informações</a></li>
		<li class="sumiuuu"><a th:href="@{/}">Sair da conta</a></li>

		<div class="navbarlogada">
			<li><button class="join-button" href="#">Bem vindo</button></li>
			<img onclick="ligarEDesligarDiv();" id="figaraaa" src="/img/menuAbrir.png" alt="">
		</div>
	</ul>
</nav>


<div class="caixaMenu222">
	<div class="caixaMenu">
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/pedidos}"><img src="/img/111vetorcart.png" alt="">
					<h2>Meus Pedidos</h2>
				</a>
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/listas}">
					<img src="/img/111vetorlista.png" alt="">
					<h2>Minhas listas</h2>
				</a>
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/eu}">
					<img src="/img/111vetorpessoa.png" alt="">
					<h2>Minhas informações</h2>
				</a>
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/}">
					<img src="/img/111sairvetor.png" alt="">
					<h2>Sair desta conta</h2>
				</a>
			</div>
		</div>
	</div>

</div>

<main id="listaAssaiAparecer" class="listaDosMercados">
	<div class="listaMercados-CaixaPrincipal">
		<div class="listaMercados-Card">
			<div class="listaMercados-sair">
				<i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
			</div>

			<div class="listaMercado-produtos">


				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/ArrozCamil.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Arroz Camil Tipo 1 Comum 1Kg</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 8,99 un.</p>
							<div class="listaMercado-quantidade">
								<p>4</p>
							</div>
						</div>
					</div>
				</div>



				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/AcucarGuarani.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Açucar Guarani 1Kg</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 5,00 un.</p>
							<div class="listaMercado-quantidade">
								<p>8</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/FeijaoCarioca.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Feijão Carioca Camil 1Kg</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 7,30 un.</p>
							<div class="listaMercado-quantidade">
								<p>8</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/LeiteParmalate.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Leite Parmalat 1L</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 3,90 un.</p>
							<div class="listaMercado-quantidade">
								<p>12</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/oleo-soya.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Oleo Soya 900ml</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 6,80 un.</p>
							<div class="listaMercado-quantidade">
								<p>10</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/Macarrão-Adria.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Macarrão Adria</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 6,30 un.</p>
							<div class="listaMercado-quantidade">
								<p>8</p>
							</div>
						</div>
					</div>
				</div>





			</div>
			<div class="listaMercado-info">
				<div class="listaMercado-Container">
					<div class="listaMercado-emCima">
						<div class="listaMercado-caixas">
							<p>Valor total <br> desta lista</p>
							<div class="listaMercado-CaixaImg">
								<h2>R$ 284,00</h2>
							</div>
						</div>
						<div class="listaMercado-caixas">
							<p>Mercado</p>
							<div class="listaMercado-CaixaImg">
								<img src="img/assaiLogoQualidade.png" alt="">
							</div>
						</div>
					</div>

					<div class="listaMercado-meio">
						<p><span class="listaMercado-grifar">Os itens dessa lista estão</span><span
								class="listaMercado-grifar">
								<br>5% mais baratos!</span></p>
					</div>
					<div class="listaMercado-fim">
						<button>Listar</button>
					</div>

				</div>
			</div>

		</div>
	</div>
</main>

<main id="listaAssaiAparecer2" class="listaDosMercados">
	<div class="listaMercados-CaixaPrincipal">
		<div class="listaMercados-Card">
			<div class="listaMercados-sair2">
				<i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
			</div>

			<div class="listaMercado-produtos">


				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/ArrozCamil.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Arroz Camil Tipo 1 Comum 1Kg</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 7,99 un.</p>
							<div class="listaMercado-quantidade">
								<p>4</p>
							</div>
						</div>
					</div>
				</div>



				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/AcucarUniaao.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Açucar União 1Kg</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 5,30 un.</p>
							<div class="listaMercado-quantidade">
								<p>8</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/FeijaoCarioca.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Feijão Carioca Camil 1Kg</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 7,85 un.</p>
							<div class="listaMercado-quantidade">
								<p>8</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/LeitePiracanjuba.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Leite Piracanjuba 1L</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 4,10 un.</p>
							<div class="listaMercado-quantidade">
								<p>12</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/oleo-soya.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Oleo Soya 900ml</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 6,80 un.</p>
							<div class="listaMercado-quantidade">
								<p>10</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/macarrao-donaBenta.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Macarrão Dona Benta</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 10,00 un.</p>
							<div class="listaMercado-quantidade">
								<p>10</p>
							</div>
						</div>
					</div>
				</div>



			</div>


			<div class="listaMercado-info">
				<div class="listaMercado-Container">
					<div class="listaMercado-emCima">
						<div class="listaMercado-caixas">
							<p>Valor total <br> desta lista</p>
							<div class="listaMercado-CaixaImg">
								<h2>R$ 336,50</h2>
							</div>
						</div>
						<div class="listaMercado-caixas">
							<p>Mercado</p>
							<div class="listaMercado-CaixaImg">
								<img src="img/LogoAtacadaoQualidade.png" alt="">
							</div>
						</div>
					</div>

					<div class="listaMercado-meio">
						<p><span class="listaMercado-grifar">Os itens dessa lista estão</span><span
								class="listaMercado-grifar">
								<br>5% mais baratos!</span></p>
					</div>
					<div class="listaMercado-fim">
						<button>Listar</button>
					</div>

				</div>
			</div>

		</div>
	</div>
</main>


<main id="listaAssaiAparecer3" class="listaDosMercados">
	<div class="listaMercados-CaixaPrincipal">
		<div class="listaMercados-Card">
			<div class="listaMercados-sair3">
				<i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
			</div>

			<div class="listaMercado-produtos">


				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/ArrozPratoFino.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Arroz Prato Fino 1Kg</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 6,69 un.</p>
							<div class="listaMercado-quantidade">
								<p>3</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/FeijãoKicaldoQualidade.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Feijão Kicaldo 1Kg</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 7,00 un.</p>
							<div class="listaMercado-quantidade">
								<p>4</p>
							</div>
						</div>
					</div>
				</div>


				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/LeiteAurora.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Leite Aurora</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 3,99 un.</p>
							<div class="listaMercado-quantidade">
								<p>6</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/macarrao-vitarela.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Macarrão Vitarela 500g</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 3,00 un.</p>
							<div class="listaMercado-quantidade">
								<p>4</p>
							</div>
						</div>
					</div>
				</div>

				<div class="listaMercado-cardProdutos">
					<div class="listaMercado-imagem">
						<img src="img/cafe-pilao.png" alt="">
					</div>

					<div class="listaMercado-direita">
						<div class="listaMercado-cima">
							<p>Café Pilão 500g</p>
						</div>

						<div class="listaMercado-baixo">
							<p>R$ 22,00 un.</p>
							<div class="listaMercado-quantidade">
								<p>4</p>
							</div>
						</div>
					</div>
				</div>




			</div>
			<div class="listaMercado-info">
				<div class="listaMercado-Container">
					<div class="listaMercado-emCima">
						<div class="listaMercado-caixas">
							<p>Valor total <br> desta lista</p>
							<div class="listaMercado-CaixaImg">
								<h2>R$ 170,00</h2>
							</div>
						</div>
						<div class="listaMercado-caixas">
							<p>Mercado</p>
							<div class="listaMercado-CaixaImg">
								<img src="img/LogoAkkiQualidade.png" alt="">
							</div>
						</div>
					</div>

					<div class="listaMercado-meio">
						<p><span class="listaMercado-grifar">Os itens dessa lista estão</span><span
								class="listaMercado-grifar">
								<br>5% mais baratos!</span></p>
					</div>
					<div class="listaMercado-fim">
						<button>Listar</button>
					</div>

				</div>
			</div>

		</div>
	</div>
</main>

<!-- fim card mercados para abrir na tela -->
<section class="caixap">

	<div class="caixa1">

		<div class="content">
			<h2>Pague menos </h2>
			<h2>Compre mais! </h2>

			<div class="text truck">
				<i class="fa-solid fa-truck-fast" style="color: #ffffff;"></i>
				<p>Receba na sua casa!</p>
			</div>
			<div class="text cart">
				<i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
				<p>Carrinho cheio de ofertas!</p>
			</div>
			<div class="text pessoas">
				<i class="fa-solid fa-people-group" style="color: #ffffff;"></i>
				<p>Vamos economizar juntos!</p>
			</div>

		</div>

	</div>

	<video autoplay loop muted>
		<source src="img/VideoTelaInicial.mp4" type="video/mp4">
	</video>

</section>

<!-- lista mercado -->
<section class="listasmercado">
	<h3>LISTAS DOS MERCADOS</h3>

	<div class="caixa333">
		<div class="container">
			<div class="listaProdutos">
				<div class="scrollProdutos" id="lista">
					<div class="produto">Arroz</div>
					<div class="produto">Feijão</div>
					<div class="produto">Macarrão</div>
					<div class="produto">Leite</div>
					<div class="produto">Açúcar</div>
					<div class="produto">Óleo</div>
				</div>
			</div>
			<div class="precomercado">
				<p>R$ 284,00</p>
				<img src="img/LogoAssai.png" alt="">
			</div>
		</div>

		<!-- card 2 -->

		<div class="container2">
			<div class="listaProdutos2">
				<div class="scrollProdutos2" id="lista2">
					<div class="produto2">Feijão</div>
					<div class="produto2">Óleo de cozinha</div>
					<div class="produto2">Macarrão</div>
					<div class="produto2">Farinha</div>
					<div class="produto2">Açúcar</div>
					<div class="produto2">Suco</div>
					<div class="produto2">Arroz</div>
				</div>
			</div>
			<div class="precomercado2">
				<p>R$ 336,50</p>
				<img src="img/logoatacadao444.png" alt="">
			</div>
		</div>

		<!-- card 3 -->

		<div class="container3">
			<div class="listaProdutos3">
				<div class="scrollProdutos3" id="lista3">
					<div class="produto3">Macarrão</div>
					<div class="produto3">Leite</div>
					<div class="produto3">Arroz</div>
					<div class="produto3">Achocolatado</div>
					<div class="produto3">Açúcar</div>
					<div class="produto3">Sal</div>
					<div class="produto3">Detergente</div>
				</div>
			</div>
			<div class="precomercado3">
				<p>R$ 170,00</p>
				<img src="img/LogoAkki.png" alt="">
			</div>
		</div>
	</div>

	<h4>Escolha a que mais combina com você!</p>
	</h4>
	<h2>Escolha a que mais <p class="quebra-de-linha"> combina com você!</p>
	</h2>



</section>


<!-- fim lista mercado -->

<!-- ================================================================================== -->

<!-- inicio monte lista -->

<section class="monte">
	<div class="montefundo">
		<h2 class="montesualista">MONTE SUAS LISTAS</h2>

		<div class="listaaas">

			<!-- <img src="img/mulhersorrindo.png" alt=""> -->
			<div class="crieee">

				<h2 class="se">Veja qual preço<br>se encaixa melhor <br> no seu carrinho!</h2>
				<!-- <div class="criee-buttoon cc">Lista individual</div> -->

				<!-- Veja qual preço se encaixa perfeitamente no seu carrinho. -->
			</div>





			<!-- <img src="img/casalcompra.png" alt=""> -->
			<div class="crieee">

				<h2 class="sw">Sabia que você <br>pode economizar<br> com conhecidos? </h2>
				<!-- <div class="criee-buttoon ee">Lista em grupo</div> -->

			</div>



		</div>
	</div>





</section>

<!-- fim monte lista -->

<!-- vantagens inicio  -->

<section class="vantagens">
	<h2 class="vantageens2">VANTAGENS</h2>
	<div class="imagens-container">
		<div class="imagem-container">
			<img src="img/imgg111.png" alt="Imagem 1">
			<p>Com a Motirõ seu carrinho<br>estará sempre cheio de<br>descontos e ofertas<br>vantajosas!</p>
		</div>
		<div class="imagem-container">
			<img src="img/img222.png" alt="Imagem 2">
			<p>Cansada das filas<br> intermináveis? compre <br>online evite esperas e <br>sorria mais!</p>
		</div>
		<div class="imagem-container">
			<img src="img/img333.png" alt="Imagem 3">
			<p>As compras coletivas são<br> uma forma econômica de <br>obter seus itens desejados <br>e ajudar a
				comunidade!</p>
		</div>
	</div>
</section>


<!-- vantagens fim  -->


<section class="telafinal">
	<div class="telafinal2">
		<div class="nperca">
			<h2>A SUA COMPRA<br>BEM MAIS<br>EM CONTA!</h2>
			<button>Criar Conta</button>
		</div>

	</div>

</section>
<div th:replace="fragments/footer"></div>