<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Motirõ Inicio</title>
	<link rel="stylesheet" href="css/navbarlogadaCerta.css">
	<link rel="stylesheet" href="css/rodape.css">
	<link rel="stylesheet" href="css/sobre.css">
	<link rel="stylesheet" href="css/profilecards.css">

	<link rel="icon" href="/img/LogoVerdeeee.png" type="image/png">

	<link
		href="https://www.dafontfree.net/embed/Z290aGFtLXJvdW5kZWQtYm9vayZkYXRhLzQ2L2cvNjI4NTkvR290aGFtUm91bmRlZC1Cb29rLm90Zg"
		rel="stylesheet" type="text/css" />


</head>
<nav>
	<div class="logo333">
		<img src="/img/LogoVerdeQualidade.png" alt="Logo Image">
	</div>
	<div class="hamburger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
	<ul class="nav-links">
		<li><a th:href="@{/}">Inicio</a></li>
		<li><a th:href="@{/escolher}">Montar Lista</a></li>
		<li><a th:href="@{/sobre}">Quem Somos?</a></li>

		<li class="sumiuuu"><a th:href="@{/pedidos}">Meus Pedidos</a></li>
		<li class="sumiuuu"><a th:href="@{/listas}">Minhas Listas</a></li>
		<li class="sumiuuu"><a th:href="@{/eu}">Minhas informações</a></li>
		<li class="sumiuuu"><a href="#">Sair da conta</a></li>



		<div class="navbarlogada">
			<li><button class="join-button" href="#">Bem vindo</button></li>
			<img onclick="ligarEDesligarDiv();" id="figaraaa" src="/img/menuAbrir.png" alt="">
		</div>
	</ul>
</nav>


<div class="caixaMenu222">
	<div class="caixaMenu">
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/pedidos}">
					<img src="/img/111vetorcart.png" alt="">
					<h2>Meus Pedidos</h2>
				</a>
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/listas}">
					<img src="/img/111vetorlista.png" alt="">
					<h2>Minhas listas</h2>
				</a>
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/eu}">
					<img src="/img/111vetorpessoa.png" alt="">
					<h2>Minhas informações</h2>
				</a>
			</div>
		</div>
		<div class="selectMenu">
			<div class="itensMenu">
				<a th:href="@{/listas}">
					<img src="/img/111sairvetor.png" alt="">
					<h2>Sair desta conta</h2>
				</a>
			</div>
		</div>
	</div>

</div>

<section class="sobreQuemSomos">
	<div class="quemSomosTopo">
		<h2>Quem somos</h2>
		<p>Motirõ é uma plataforma de compras colaborativas que conecta consumidores a mercados do ramo do Atacarejo
			simplificando o processo de compras. Surgimos como uma solução inovadora no mercado, com o objetivo de
			promover
			o crescimento e o desenvolvimento sustentável da população. A Motirõ busca estabelecer uma rede ampla e
			duradoura, que não apenas facilite a vida do consumidor mercantil, mas também promova um ambiente saudável e
			conectado para os usuários dentro da plataforma. Oferecemos praticidade na criação de listas de mercado e
			comparação de preços em diferentes estabelecimentos, proporcionando uma experiência de compra mais
			informada.
		</p>
	</div>
	<div class="container">
		<div class="imagemEtexto">
			<div class="sobreimg">
				<img src="/img/Foto - Equipe Motirõ.jpg" alt="">
			</div>
			<div class="objetivo">
				<p>A plataforma não se limita apenas a ser um meio para economizar em compras. Ela representa uma
					mudança
					paradigmática no comportamento de consumo, incentivando a colaboração e a partilha entre os
					usuários. A
					Motirõ encoraja a formação de comunidades onde os membros podem se beneficiar mutuamente, seja
					dividindo
					custos ou compartilhando informações sobre as melhores ofertas disponíveis.</p>
			</div>
		</div>
	</div>
</section>

<section class="devs">
	<h1>Conheça Nossa Equipe!</h1>
	<div class="cards">
		<div class="equipe">
			<div class="profile-wrapper">
				<div class="profile">
					<div class="profile-image">
						<img src="/img/cesta_Samuka.png" alt="Profile">
					</div>
					<ul class="social-icons">
						<li>
							<a href="#instagram" title="Instagram">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round">
									<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
									<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
									<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
								</svg>
							</a>
						</li>
						<li>
							<a href="#GitHub" title="GitHub">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-github">
									<path
										d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
									</path>
								</svg>
							</a>
						</li>
						<li>
							<a href="#linkedin" title="Linkedin">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
									stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 
                                         2 0 0 1 -2 -2z">
									</path>
									<path d="M8 11l0 5"></path>
									<path d="M8 8l0 .01"></path>
									<path d="M12 16l0 -5"></path>
									<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
								</svg>
							</a>
						</li>
					</ul>
					<div class="profile-name">
						<h2>Samuel Aguiar, 20</h2>
						<div class="profile-bio">
							Desenvolvedor FullStack e Product Owner
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="equipe">
			<div class="profile-wrapper">
				<div class="profile">
					<div class="profile-image">
						<img src="/img/cesta_Karlinha.png" alt="Profile">
					</div>
					<ul class="social-icons">
						<li>
							<a href="#instagram" title="Instagram">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round">
									<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
									<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
									<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
								</svg>
							</a>
						</li>
						<li>
							<a href="#GitHub" title="GitHub">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-github">
									<path
										d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
									</path>
								</svg>
							</a>
						</li>
						<li>
							<a href="#linkedin" title="Linkedin">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
									stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 
                                         2 0 0 1 -2 -2z">
									</path>
									<path d="M8 11l0 5"></path>
									<path d="M8 8l0 .01"></path>
									<path d="M12 16l0 -5"></path>
									<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
								</svg>
							</a>
						</li>
					</ul>
					<div class="profile-name">
						<h2>Karla Coelho, 20</h2>
						<div class="profile-bio">
							Scrum Master e Desenvolvedora Front-End
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="equipe">
			<div class="profile-wrapper">
				<div class="profile">
					<div class="profile-image">
						<img src="/img/cesta_Well.png" alt="Profile">
					</div>
					<ul class="social-icons">
						<li>
							<a href="#instagram" title="Instagram">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round">
									<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
									<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
									<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
								</svg>
							</a>
						</li>
						<li>
							<a href="#GitHub" title="GitHub">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-github">
									<path
										d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
									</path>
								</svg>
							</a>
						</li>
						<li>
							<a href="#linkedin" title="Linkedin">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
									stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 
                                         2 0 0 1 -2 -2z">
									</path>
									<path d="M8 11l0 5"></path>
									<path d="M8 8l0 .01"></path>
									<path d="M12 16l0 -5"></path>
									<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
								</svg>
							</a>
						</li>
					</ul>
					<div class="profile-name">
						<h2>Wellington Lopes, 22</h2>
						<div class="profile-bio">
							Desenvolvedor Front-End e Growth Hack
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="equipe">
			<div class="profile-wrapper">
				<div class="profile">
					<div class="profile-image">
						<img src="/img/cesta_Momo.png" alt="Profile">
					</div>
					<ul class="social-icons">
						<li>
							<a href="#instagram" title="Instagram">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round">
									<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
									<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
									<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
								</svg>
							</a>
						</li>
						<li>
							<a href="#GitHub" title="GitHub">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-github">
									<path
										d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
									</path>
								</svg>
							</a>
						</li>
						<li>
							<a href="#linkedin" title="Linkedin">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
									stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 
                                         2 0 0 1 -2 -2z">
									</path>
									<path d="M8 11l0 5"></path>
									<path d="M8 8l0 .01"></path>
									<path d="M12 16l0 -5"></path>
									<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
								</svg>
							</a>
						</li>
					</ul>
					<div class="profile-name">
						<h2>Murilo Rodrigues, 20</h2>
						<div class="profile-bio">
							Financeiro e Desenvolvedor Front-End
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="equipe">
			<div class="profile-wrapper">
				<div class="profile">
					<div class="profile-image">
						<img src="/img/cesta_Ev.png" alt="Profile">
					</div>
					<ul class="social-icons">
						<li>
							<a href="#instagram" title="Instagram">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round">
									<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
									<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
									<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
								</svg>
							</a>
						</li>
						<li>
							<a href="#GitHub" title="GitHub">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-github">
									<path
										d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
									</path>
								</svg>
							</a>
						</li>
						<li>
							<a href="#linkedin" title="Linkedin">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
									stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 
                                         2 0 0 1 -2 -2z">
									</path>
									<path d="M8 11l0 5"></path>
									<path d="M8 8l0 .01"></path>
									<path d="M12 16l0 -5"></path>
									<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
								</svg>
							</a>
						</li>
					</ul>
					<div class="profile-name">
						<h2>Evandro Pascoal, 22</h2>
						<div class="profile-bio">
							Desenvolvedor FullStack
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="equipe">
			<div class="profile-wrapper">
				<div class="profile">
					<div class="profile-image">
						<img src="/img/cesta_Duda.png" alt="Profile">
					</div>
					<ul class="social-icons">
						<li>
							<a href="#instagram" title="Instagram">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round">
									<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
									<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
									<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
								</svg>
							</a>
						</li>
						<li>
							<a href="#GitHub" title="GitHub">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-github">
									<path
										d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
									</path>
								</svg>
							</a>
						</li>
						<li>
							<a href="#linkedin" title="Linkedin">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
									stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 
                                         2 0 0 1 -2 -2z">
									</path>
									<path d="M8 11l0 5"></path>
									<path d="M8 8l0 .01"></path>
									<path d="M12 16l0 -5"></path>
									<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
								</svg>
							</a>
						</li>
					</ul>
					<div class="profile-name">
						<h2>Eduarda de Fátima, 17</h2>
						<div class="profile-bio">
							Scrum Master e UX Designer
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="equipe">
			<div class="profile-wrapper">
				<div class="profile">
					<div class="profile-image">
						<img src="/img/cesta_Kauan.png" alt="Profile">
					</div>
					<ul class="social-icons">
						<li>
							<a href="#instagram" title="Instagram">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round">
									<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
									<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
									<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
								</svg>
							</a>
						</li>
						<li>
							<a href="#GitHub" title="GitHub">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="feather feather-github">
									<path
										d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z">
									</path>
								</svg>
							</a>
						</li>
						<li>
							<a href="#linkedin" title="Linkedin">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
									stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 
                                         2 0 0 1 -2 -2z">
									</path>
									<path d="M8 11l0 5"></path>
									<path d="M8 8l0 .01"></path>
									<path d="M12 16l0 -5"></path>
									<path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
								</svg>
							</a>
						</li>
					</ul>
					<div class="profile-name">
						<h2>Kauan Soares, 18</h2>
						<div class="profile-bio">
							Desenvolvedor FullStack
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="identidadeVisual">
	<div class="significado">
		<h2>E O QUE MOTIRÕ SIGNIFICA?</h2>
		<p>O nome "Motirõ" tem suas raízes no idioma tupi-guarani, onde evoca a ideia de uma reunião de pessoas que se
			juntam com o propósito de realizar uma colheita ou construção em comum.</p>
	</div>

	<div class="cores">

		<div class="logos">
			<div class="logoVerde">
				<img src="/img/sobre-logo1.png" alt="">
				<p><span>%i</span> #004F40</p>
			</div>

			<div class="logoAmarelo">
				<p><span>%i</span>#EDBB6C</p>
				<img src="/img/sobre-logo2.png" alt="">
			</div>
		</div>

		<div class="textos">
			<p class="p1">Nós usamos como base para nossas cores o verde e o amarelo.</p>
			<p class="p2">O VERDE é tradicionalmente associado à saúde e ao crescimento, simbolizando a renovação e a
				vitalidade. Ele evoca a sensação de frescor e abundância.</p>
			<p>O AMARELO, por outro lado, é uma cor que irradia alegria e otimismo. É uma cor energética que estimula a
				sensação de felicidade e entusiasmo. Também é frequentemente relacionado à prosperidade.</p>
		</div>

	</div>
</section>

<section class="sobreMonetizacao">
	<div class="container2">
		<h2> Monetização</h2>
		<div class="imagemEtexto">
			<div class="monetizaimg">
				<img src="/img/monetizacao.jpg" alt="">
			</div>
			<div class="objetivo">
				<p>Para manter a monetização da nossa plataforma, nós recebemos uma pequena parte do valor de cada
					compra em nossos mercados parceiros.</p>
				<br>
				<p>Além disso, se você é uma empresa ou um microempreendedor e quer ter acesso aos nossos
					descontos exclusivos, você paga uma taxa bem pequena. Essa taxa vale a pena, porque você vai
					economizar
					muito mais comprando na Motirõ. </p>
			</div>
		</div>
	</div>
</section>

<section class="sobreVisaoFuturo">
	<div class="container3">
		<h2>Visão de Futuro</h2>
		<div class="imagemEtexto">
			<div class="visaoftimg">
				<img src="/img/visao-de-futuro.avif" alt="">
			</div>
			<div class="objetivo">
				<p>Futuramente vamos lançar uma novidade incrível: a possibilidade de deixar as suas listas
					públicas!
					E sabe qual a melhor parte? Você poderá se juntar às listas que mais combinam com seu estilo e
					necessidades.
				</p>
				<p>Além disso, acreditamos que a Motirõ pode ser muito mais do que só compras de mercado
					online,
					planejamos expandir a nossa plataforma para incluir outros segmentos, como roupas, eletrônicos,
					utensílios
					e
					muito mais. Nós queremos tornar a Motirõ o seu destino para todas as compras com desconto. </p>
			</div>
		</div>
	</div>
</section>

<section class="missaoVisaoValores">
	<div class="sobre-missao">
		<h3>Missão</h3>
		<div class="card">
			<div class="missaoimg">
				<img src="/img/sobre-carrinho2.png.jpg" alt="">
			</div>
			<div class="mvv">
				<p>Nossa missão é enriquecer o lar de cada família, proporcionando o conforto e a tranquilidade de um
					carrinho
					de supermercado sempre abastecido.</p>
			</div>
		</div>
	</div>

	<div class="sobre-visao">
		<h3>Visão</h3>
		<div class="card">
			<div class="visaoimg">
				<img src="/img/sobre-visao.jpg" alt="">
			</div>
			<div class="mvv">
				<p>Criar uma cultura que transforme a vida das pessoas. A Motirõ visa tornar o ato de fazer
					compras uma experiência colaborativa e econômica.</p>
			</div>

		</div>
	</div>

	<div class="sobre-valores">
		<h3>Valores</h3>
		<div class="card">
			<div class="valoresimg">
				<img src="/img/sobre-valores.jpg" alt="">
			</div>
			<div class="mvv">
				<p>Trabalhar de forma Honesta, Ética e Responsável.
					Prezar pela humildade, empatia e Respeito.
					Qualidade em tudo que fazemos.</p>
			</div>
		</div>
	</div>
</section>

<div th:replace="fragments/footer"></div>